<script setup>
import { computed } from "vue";
import { useGameState } from "../hooks";

const state = useGameState();

const sortedItems = computed(() => {
  return state.value.items
    .slice()
    .filter((item) => !item.inHand)
    .sort((a, b) => (a.z - b.z) || (a.y - b.y) || (a.x - b.x));
});

const render = (item) => item.render();
</script>

<template>
  <TransitionGroup name="items">
    <template v-for="item in sortedItems" :key="item.iid">
      <component :is="render(item)" :item="item" />
    </template>
  </TransitionGroup>
</template>

<style>
.items-enter-active,
.items-leave-active {
  transition: all 0.1s ease;
  transition-property: opacity, --item-scale;
}

.items-enter-from,
.items-leave-to {
  opacity: 0;
  --item-scale: 0.8;
}
</style>
