<script setup>
import { computed } from "vue";
import { useApp, useItem, useItemProps, useMergedObjects, useOwnedItemProps, useUpright } from "../hooks";
import { PokerCard } from "./PokerCard";
import OwnershipDecoration from "../view/ownership-decoration.vue";

const props = defineProps({ item: { type: Object, required: true } });

const app = useApp();
const itemRef = useItem(props.item);
const size = { width: 125, height: 1.4 * 125 };
const baseProps = useItemProps(itemRef);
const { ownedByMe } = useOwnedItemProps(itemRef);

const renderingInfo = computed(() => PokerCard.getCardRenderingInfo(itemRef.value, app));

const imageUrl = computed(() => {
  if (itemRef.value.public || (itemRef.value.inHand && ownedByMe.value)) {
    return renderingInfo.value.frontFaceUrl;
  } else {
    return renderingInfo.value.backFaceUrl;
  }
});

const rootProps = useMergedObjects(
  baseProps,
  { "class": ["card"] },
);

const strokeWidth = 8;

const upright = useUpright();
</script>

<template>
  <g v-bind="rootProps">
    <g :style="upright">
      <ownership-decoration v-if="itemRef.owners" :owners="itemRef.owners" />
      <rect class="i--body" v-bind="size" stroke="black" rx="5" ry="5" :stroke-width="strokeWidth" />
      <image v-bind="{ ...size, ...renderingInfo.attrs }" :href="imageUrl" clip-path="inset(0% round 6px)" />
    </g>
  </g>
</template>
