<script setup>
import { computed } from "vue";
import { useItem, useItemProps } from "../hooks";

const props = defineProps({
  item: { type: Object, required: true },
});

const item = useItem(props.item);

const rootProps = useItemProps(item);

const rectProps = computed(() => {
  const { w: width, h: height, color } = item.value;
  const radius = 8;
  return {
    width, height,
    rx: radius, ry: radius,
    fill: color,
    stroke: "black",
    "stroke-width": 2,
  };
});
</script>

<template>
  <g v-bind="rootProps">
    <rect v-bind="rectProps" />
  </g>
</template>
