<script setup>
import { onMounted, provide } from "vue";
import { app } from "../global/app";
import GameBoard from "./game-board.vue";
import AppHeader from "./app-header.vue";
import GameContextMenu from "./game-context-menu.vue";
import GameLogin from "./game-login.vue";
import GameSpawner from "./game-spawner.vue";
import GameHand from "../view/game-hand.vue";

provide("app", app);
provide("state", app.state);

onMounted(() => app.start());
</script>

<template>
  <app-header />
  <game-login />
  <game-spawner />
  <game-context-menu>
    <game-board />
    <game-hand />
  </game-context-menu>
</template>
