<script setup>
import AppToolbar from "./app-toolbar.vue";
</script>

<template>
  <header>
    <b>Tabletop</b>

    <button id="app-btn-host" type="button">
      Host
    </button>

    <button id="app-btn-join" type="button">
      Join
    </button>

    <app-toolbar />
  </header>
</template>
