<script setup>
import { computed, ref } from "vue";
import UiDropdown from "../components/ui-dropdown.vue";
import { useApp, useGameState } from "../hooks";
import { getPlayerList } from "../utils/players";
import GameMinimap from "./game-minimap.vue";
import { PhList, PhUsers } from "@phosphor-icons/vue";

const app = useApp();
const state = useGameState();

const features = {
  minimap: ref(false),
};

const menu = computed(() => ([
  {
    label: "Mini-carte",
    checked: features.minimap.value,
    toggle: () => {
      features.minimap.value = !features.minimap.value;
    },
  },
  {
    separator: true,
  },
  {
    label: "Joueur·se·s",
    icon: PhUsers,
    menu: getPlayerList(state.value.players, app.player.uid),
  },
]));
</script>

<template>
  <UiDropdown :items="menu">
    <button class="btn btn-ternary ui-menu-item__label" style="margin-inline-start: auto;">
      <ph-list />
      <span style="margin-left: 0.5ch;">Menu</span>
    </button>
  </UiDropdown>

  {{ state.value?.players }}
  <game-minimap v-if="features.minimap.value" />
</template>
