<script setup>
import { provide, toRef } from "vue";

const props = defineProps({
  item: { type: Object, required: true },
  position: { type: Object, default: null },
});

provide("controlled", {
  position: toRef(props, "position"),
  parentType: "zone",
  parentId: "hand",
});
</script>

<template>
  <component :is="item.render()" :item="item" />
</template>
