<script setup>
import { computed } from "vue";
import { useCamera, useGameState } from "../hooks";

const gameState = useGameState();
const camera = useCamera();

/** Minimap shows 2x the area of the camera, which is shown in the central half of the minimap */
const minimapScaling = 2;
const minimapDiplaySize = computed(() => {
  if (!camera.value) return { width: 1, height: 1 };
  const WIDTH = 100;
  const RATIO = camera.value.viewportSize.width / camera.value.viewportSize.height;
  return {
    width: WIDTH,
    height: WIDTH / Math.min(Math.max(RATIO, 0.1), 1.5),
  };
});

function convertToMinimapCoords(r) {
  const { x: cx, y: cy } = camera.value.center;
  const vp = camera.value.viewportSize;
  const zoomLevel = camera.value.zoomLevel;

  r.x -= cx;
  r.y -= cy;

  r.x /= vp.width / zoomLevel;
  r.y /= vp.height / zoomLevel;
  r.w /= vp.width / zoomLevel;
  r.h /= vp.height / zoomLevel;

  r.x *= minimapDiplaySize.value.width / minimapScaling;
  r.y *= minimapDiplaySize.value.height / minimapScaling;
  r.w *= minimapDiplaySize.value.width / minimapScaling;
  r.h *= minimapDiplaySize.value.height / minimapScaling;

  r.x += minimapDiplaySize.value.width / 2;
  r.y += minimapDiplaySize.value.height / 2;

  return r;
}

const itemsInMinimapSpace = computed(() => {
  return gameState.value.items.map((item) => {
    return convertToMinimapCoords({
      iid: item.iid,
      x: item.x,
      y: item.y,
      w: item.w ?? 1,
      h: item.h ?? 1,
      angle: item.angle ?? null,
    });
  });
});

const viewportRectangle = computed(() => {
  const center = camera.value.center;
  const vp = camera.value.viewportSize;
  const zoomLevel = camera.value.zoomLevel;

  // Convert screen pixels to world units
  const w = (1 / zoomLevel) * (vp.width);
  const h = (1 / zoomLevel) * (vp.height);

  // top-left corner
  const x = center.x - (w / 2);
  const y = center.y - (h / 2);

  const r = { x, y, w, h };
  return convertToMinimapCoords(r);
});

const style = computed(() => ({
  width: CSS.px(minimapDiplaySize.value.width),
  height: CSS.px(minimapDiplaySize.value.height),
}));
</script>

<template>
  <div v-if="camera" :style="style" class="minimap">
    <svg width="100%" height="100%">
      <rect
        :x="viewportRectangle.x"
        :y="viewportRectangle.y"
        :width="viewportRectangle.w"
        :height="viewportRectangle.h"
        fill="none"
        stroke="white"
        stroke-width="1"
        transform-box="fill-box"
        transform-origin="center"
      />

      <rect
        v-for="item in itemsInMinimapSpace"
        :key="item.iid"
        :x="item.x"
        :y="item.y"
        :width="Math.max(item.w ?? 1, 1)"
        :height="Math.max(item.h ?? 1, 1)"
        :transform="`rotate(${(item.angle ?? 0) + (camera?.rotationAngle ?? 0)})`"
        transform-box="fill-box"
        transform-origin="center"
        fill="red"
      />
    </svg>
  </div>
</template>

<style>
.minimap {
  top: var(--header-height, 0);
  right: 0px;

  position: fixed;
  z-index: 5;

  border: 1px solid white;
  background-color: black;

  transition: opacity 0.5s ease;
}
.minimap:hover {
  opacity: 0.1;
  transition: opacity 0.1s ease;
}
</style>
