<script setup>
import GameState from "../items/game-state.vue";
import { useMouseSelectionBox } from "../view/mouseSelect";
import { usePanner } from "../view/panner.interactjs";
import GamePointers from "./game-pointers.vue";

usePanner();
useMouseSelectionBox();
</script>

<template>
  <svg id="tabletop-container" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="gridlines" width="125" height="125" patternUnits="userSpaceOnUse">
        <path d="M 125 0 L 0 0 0 125" fill="none" stroke="currentColor" stroke-width="10" />
      </pattern>
      <pattern id="checkerboard" width="125" height="125" patternUnits="userSpaceOnUse">
        <rect fill="currentColor" width="62.5" height="62.5" x="0" y="0" />
        <rect fill="currentColor" width="62.5" height="62.5" x="62.5" y="62.5" />
      </pattern>
      <pattern id="checkerboardsmall" width="50" height="50" patternUnits="userSpaceOnUse">
        <rect fill="currentColor" width="25" height="25" x="0" y="0" />
        <rect fill="currentColor" width="25" height="25" x="25" y="25" />
      </pattern>
    </defs>

    <g id="tabletop">
      <!-- Pan + Zoom -->
      <rect fill="url(#gridlines)" transform="translate(-2.5,-2.5)" opacity="0.05" width="2000000" height="2000000" x="-1000000" y="-1000000" />
      <circle cx="0" cy="0" :r="Math.sqrt(12)" fill="white" />
      <g id="tabletop-cameras" />
      <g id="tabletop-board">
        <game-state />
      </g>
      <g id="effects-svg" />
    </g>
    <game-pointers />

    <rect
      id="tabletop-selection-box"
      fill="hsla(210, 100%, 50%, 0.2)"
      x="0" y="0"
      width="0" height="0"
      opacity="0"
      pointer-events="none"
    />
  </svg>
</template>
