<script setup>
import { PopoverContent, PopoverRoot, PopoverTrigger } from "radix-vue";
import { ref } from "vue";
import { useGameState } from "../hooks";

const state = useGameState();
const rootOpen = ref(false);
</script>

<template>
  <PopoverRoot v-if="state?.players?.length" v-model:open="rootOpen">
    <PopoverTrigger>
      {{ rootOpen ? "Masquer" : "Joueur·se·s" }}
    </PopoverTrigger>

    <PopoverContent class="paper">
      <ul class="game-player-list">
        <template v-for="player in state.players" :key="player.uid">
          <li class="player-tag" :style="{ '--player-color': player.color ?? '#ff00ff' }">
            {{ player.displayName }}
          </li>
        </template>
      </ul>
    </PopoverContent>
  </PopoverRoot>
</template>

<style>
.game-player-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.player-tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 99px;
  background-color: var(--player-color, #ff00ff);
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  user-select: none;
}
</style>
