<script setup>
import { computed, ref } from "vue";
import { useApp, watchUiBus } from "../hooks";
import { knownTypes } from "../items";
import * as spreading from "../utils/spreading";
import UiPopover from "../components/ui-popover.vue";
import { PhLightning } from "@phosphor-icons/vue";
import UiMenuItemLabel from "../components/ui-menu-item-label.vue";

const app = useApp();

const search = ref("");
const shown = ref(false);

function prepareTemplate(template, class_) {
  const type = template.type ?? class_.type;
  if (!type) throw new Error(`Missing type for template ${template}: expected key 'type'`);

  let items;
  if (template.item) {
    items = [template.item];
  } else if (Array.isArray(template.items)) {
    items = template.items;
  } else if (typeof template.items === "function") {
    items = template.items;
  } else {
    throw new Error(`Missing item(s) for template ${template}: expected one key among 'item' (object), 'items' (array)`);
  }

  const displayName = template.displayName ?? class_.displayName ?? class_.name ?? template.type;

  return { ...template, displayName, type, items };
}

const allItemTemplates = computed(() => {
  const out = [];
  for (const class_ of Object.values(knownTypes)) {
    if (class_.templates === true) {
      out.push(prepareTemplate({ item: {} }, class_));
    } else if (Array.isArray(class_.templates)) {
      for (const template of class_.templates) {
        out.push(prepareTemplate(template, class_));
      }
    }
  }
  return out;
});

const filteredItemTemplates = computed(() => {
  return allItemTemplates.value.filter((item) => {
    return item.displayName.toLowerCase().includes(search.value.toLowerCase());
  });
});

const menuItemFor = (item) => {
  return {
    label: item.displayName,
    icon: item.icon ?? PhLightning,
  };
};

const spawnLocationOverride = ref(null);

watchUiBus("ui:spawner:openAtPosition", (event) => {
  spawnLocationOverride.value = event.data.position;
  show();
});

watchUiBus("ui:spawner:open", () => {
  spawnLocationOverride.value = null;
  show();
});

const show = () => {
  shown.value = true;
};

const hide = () => {
  shown.value = false;
  spawnLocationOverride.value = null;
};

const getSpawnLocation = () => {
  if (spawnLocationOverride.value) {
    return spawnLocationOverride.value;
  }
  return app.panner.getWorldPos();
};

/** @param {ReturnType<typeof prepareTemplate>} template */
const spawnFromTemplate = (template) => {
  let items = template.items;
  if (typeof items === "function") {
    items = items();
  }

  // Make shallow copies of objects, and set the type
  items = items.map((item) => {
    if (typeof item === "object") {
      return { ...item, type: item.type ?? template.type };
    } else {
      throw new Error(`Invalid item ${item} in template ${template}: expected string or object`);
    }
  });

  const center = getSpawnLocation();
  spreading.offset_mut(items, center);
  spreading.reorder_mut(items);
  app.spawnItems(...items);
  hide();
};

const spawnFirst = () => spawnByIndex(0);

const spawnByIndex = (index) => {
  const results = filteredItemTemplates.value;
  if (results.length > index) {
    spawnFromTemplate(results[index]);
  }
};

const style = {
  width: "300px",
  maxWidth: "95vw",
  height: "auto",
};

const searchId = "game-spawner-search";
</script>

<template>
  <ui-popover :open="shown" @toggle="shown = $event">
    <div class="paper game-spawner" :style="style">
      <form @submit.prevent="spawnFirst">
        <label :for="searchId" class="sr-only">Recherchez un objet, puis appuyez sur Entrée pour le créer.</label>
        <input :id="searchId" v-model="search" type="text" placeholder="Créer un objet…" autofocus>
      </form>

      <ul class="game-spawner__results">
        <li v-for="(item, index) in filteredItemTemplates" :key="index">
          <button class="game-spawner__result btn-reset" @click="spawnByIndex(index)">
            <ui-menu-item-label :item="menuItemFor(item)" />
          </button>
        </li>
      </ul>
    </div>
  </ui-popover>
</template>

<style>
.game-spawner {
  padding: 0;
}

.game-spawner h3 {
  text-align: center;
}

.game-spawner form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-spawner form input[type="text"] {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: inherit;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
}

.game-spawner__results {
  max-height: 50vh;
  overflow-x: visible;
  overflow-y: auto;
  display: flex;
  list-style: none;
  padding: 0.5em;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.game-spawner__results > li {
  flex: 1 1 100%;
  display: flex;
}

.game-spawner__result {
  text-align: left;
  flex: 1;
}

.game-spawner__result {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  z-index: 0;
}

.game-spawner__result::before {
  display: block;
  content: "";
  position: absolute;
  inset: -0.25rem -0.25rem;
  border-radius: 1px;
  z-index: -1;
  background-color: var(--paper-bg-hover);
  pointer-events: none;
  transition: all 50ms ease;
}

.game-spawner__result:is(:hover, :focus-visible)::before {
  outline: none !important;
  box-shadow: 0 0 0 2px var(--fg-3);
}

.game-spawner__result:not(:hover):not(:focus-visible)::before {
  opacity: 0;
}
</style>
