<script setup>
import { useLocalStorage } from "@vueuse/core";
import { computed } from "vue";
import { makeId } from "../utils/random";

const initialized = useLocalStorage("tabletop:initialized", "0");
const displayName = useLocalStorage("tabletop:displayName", "");
const uid = useLocalStorage("tabletop:uid", makeId("user_"));

const submit = () => {
  initialized.value = "1";
  window.location.reload();
};

const shown = computed(() => initialized.value === "0");

const reset = () => { initialized.value = "0"; };

const style = {
  position: "absolute",
  top: "50%",
  left: "50%",
  transform: "translate(-50%, -50%)",
  width: "250px",
  height: "160px",
};
</script>

<template>
  <Teleport v-if="shown" to="body">
    <Transition name="appear" appear>
      <div class="modal" :style="style">
        <h3>Tabletop</h3>
        <form @submit.prevent="submit">
          <label for="displayName">Votre nom</label>
          <input id="displayName" v-model="displayName" type="text" required placeholder="Alex">
          <button class="btn btn-primary" type="submit">
            Join
          </button>
          <small>
            Your unique ID is <input v-model="uid" class="editable-text" type="text">
          </small>
        </form>
      </div>
    </Transition>
  </Teleport>
</template>

<style scoped>
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
</style>
