<script setup>
import { useApp, useCamera } from "../hooks";
import { useAllPointersScreen } from "./pointers";

const app = useApp();
const camera = useCamera();
const pointers = useAllPointersScreen(false);

const getPlayer = (uid) => {
  const player = app.state.players.find((player) => player.uid === uid);
  if (player) { return player; }
  return { displayName: "Unknown", color: "black" };
};
</script>

<template>
  <g class="tabletop-pointers">
    <g
      v-for="(pointer, uid) in pointers"
      :key="uid"
      :transform="`translate(${pointer.x},${pointer.y}) scale(${camera?.zoomLevel ?? 1})`"
    >
      <path
        d="M0,0 L8,24 L12,12 L24,8 Z"
        :fill="getPlayer(uid).color"
        stroke="white"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <text
        :x="15"
        :y="22"
        text-anchor="start"
        dominant-baseline="middle"
        font-size="16"
        font-weight="bold"
        fill="white"
      >
        {{ getPlayer(uid).displayName }}
      </text>
    </g>
  </g>
</template>

<style>
.tabletop-pointers {
  pointer-events: none;
}
</style>
