<script setup lang="ts">
import { computed, ref } from "vue";
import { useHand } from "../hooks";
import { useWindowSize } from "@vueuse/core";
import { zip } from "../utils/collection";
import { spreadHand } from "../utils/spreadxy";
import ControlledItem from "./controlled-item.vue";
import { app } from "../global/app";
import { watchUiBus, translate } from "../hooks";
import { useZone, ScreenZone } from "../hooks/zones";
import { ZoneManager } from "../hooks/zones";

const hand = useHand(app.player.uid);
const windowSize = useWindowSize();

const handSize = computed(() => {
  const w = windowSize.width.value;
  const h = Math.min(250, windowSize.height.value * 0.5);
  return { w, h };
});

const bounds = computed(() => {
  const { w, h } = handSize.value;
  const x = 0;
  const y = windowSize.height.value - h;
  return { x, y, w, h };
});

const zone = useZone(new ScreenZone("hand", bounds));

const sortedHand = computed(() => {
  return hand.items.value.slice().sort((a, b) => {
    return (b?.sortOrder ?? 0) - (a?.sortOrder ?? 0);
  });
});

const zSortedHand = computed(() => {
  return sortedHand.value;
  // if (!hoveredIid.value) return sortedHand.value;
  // return sortedHand.value.slice().sort((a, b) => {
  //   if (a.iid === hoveredIid.value) return 1;
  //   if (b.iid === hoveredIid.value) return -1;
  // });
});

const positions = computed(() => {
  const positions = spreadHand(sortedHand.value, handSize.value, { gap: -50, padding: 250, defaultWidth: 100 });
  const positionMap = new Map();
  for (const [item, position] of zip(sortedHand.value, positions)) {
    positionMap.set(item.iid, position);
  }
  return positionMap;
});

const controlledPositions = ref({});

function maybeUnadopt(event) {
  const iid = event.element.dataset.iid;
  const { x, y } = event._e;
  const worldCoords = app.panner.transformToWorldSpace({ x, y });

  app.gameBus.emitEvent({
    type: "game:item:setValues",
    iid: iid,
    data: {
      kv: {
        inHand: false,
        public: true,
        owners: [],
        x: worldCoords.x,
        y: worldCoords.y,
      },
    },
  });
}

function maybeAdopt(event) {
  const iid = event.element.dataset.iid;
  // const localCoords = zone.convertToLocal({ x, y });
  // const worldCoords = app.panner.transformToWorldSpace(localCoords);
  // controlledPositions.value[iid] = { x: localCoords.x, y: localCoords.y };
  delete controlledPositions.value[iid];
  app.gameBus.emitEvent({
    type: "game:item:setValues",
    iid: iid,
    data: {
      kv: {
        inHand: true,
        public: false,
        owners: [app.player.uid],
        x: 0,
        y: 0,
      },
    },
  });
}

watchUiBus("ui:interact:move", (event) => {
  if (event.zid === zone.zid) {
    controlledPositions.value[event.iid] = event.to;
  }
});

watchUiBus("ui:interact:up", (event) => {
  const zid = ZoneManager.GetZidForElement(event.element);
  const { x, y } = event._e;
  const inBounds = zone.hitTestScreen({ x, y });

  if (zid === zone.zid && !inBounds) {
    // The item left the zone
    maybeUnadopt(event);
  } else if (zid !== zone.zid && inBounds) {
    // The item entered the zone
    maybeAdopt(event);
  }
});
</script>

<template>
  <svg class="hand" :data-my-hand="hand.owner === app.player.uid" :data-zid="zone.zid">
    <template v-for="item in zSortedHand" :key="item.iid">
      <g :transform="translate(positions.get(item.iid))">
        <ControlledItem :item="item" :position="controlledPositions[item.iid] ?? {x:0,y:0}" />
      </g>
    </template>
  </svg>
</template>

<style>
.hand {
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  max-height: 50vh;
  width: 100%;
  overflow: visible;
  pointer-events: none;
}
.hand > * {
  pointer-events: all;
}
</style>
