<script setup>
import { useRawState } from "../hooks";

const R = 22;
const S = 10;
const O = 4;

const game = useRawState();
const props = defineProps({ owners: { type: Array, default: null } });

const getColor = uid => game.getPlayer(uid)?.color ?? "#ff00ff";
const getName = uid => game.getPlayer(uid)?.displayName.substring(0, 1);
const getOffset = (index) => {
  const n = props.owners?.length ?? 4;
  const x = (n - index - 1) * (R - 4);
  return x;
};
</script>

<template>
  <g class="i--only-hover" :transform="`translate(${O}, -${R})`">
    <template v-for="(uid, index) in owners" :key="uid">
      <g>
        <circle :cx="getOffset(index)" cy="0" :r="S" :fill="getColor(uid)" stroke="white" stroke-width="3" />
        <text
          :x="getOffset(index)"
          y="0" text-anchor="middle"
          dominant-baseline="central"
          fill="white"
          font-family="sans-serif"
          font-weight="900"
          :font-size="1.4 * S"
        >
          {{ getName(uid) }}
        </text>
      </g>
    </template>
  </g>
</template>
