.btn-reset {
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  font: inherit;
}

.btn {
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  padding: 0.25em 0.5em;
  display: inline-block;
  border-radius: 99px;
  transition: filter 0.2s, box-shadow 0.2s;
  --_hover: currentColor;
}

.btn:hover:not(:active) {
  filter: brightness(1.1);
  box-shadow: inset 0 0 0 2px var(--_hover);
}

.btn-primary {
  --_hover: var(--primary-dim);
  background: var(--primary);
  color: var(--text-on-primary);
}

.btn-secondary {
  --_hover: var(--secondary-dim);
  background: var(--secondary);
  color: var(--text-on-secondary);
}

.btn-ternary {
  --_hover: var(--ternary-dim);
  background: var(--ternary);
  color: var(--text-on-ternary);
}

.btn-text {
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  color: inherit;
  text-decoration: 1px solid underline;
}

.btn-text:hover:not(:active) {
  text-decoration: 2px solid underline;
}
