/* Base colors */
:root {
  --red-strong: #d50027;
  --orange-strong: #ff6a00;
  --yellow-strong: #ffd900;
  --green-strong: #006853;
  --blue-strong: #0069ff;
  --magenta-strong: #6a0080;

  --red-dim: #e57e93;
  --orange-dim: #eac18c;
  --yellow-dim: #ebe38a;
  --green-dim: #8ed4a9;
  --blue-dim: #94c1ff;
  --magenta-dim: #f3b6ff;
}

/* Primary theme */
:root {
  --bg-1: #ffe;
  --bg-2: #ddc;
  --bg-3: #bb9;
  --fg-1: #000;
  --fg-2: #323;
  --fg-3: #544;

  --primary: var(--green-strong);
  --primary-dim: var(--green-dim);
  --text-on-primary: white;

  --secondary: var(--blue-strong);
  --secondary-dim: var(--blue-dim);
  --text-on-secondary: var(--secondary-dim);

  --ternary: var(--bg-2);
  --ternary-dim: var(--bg-3);
  --text-on-ternary: var(--fg-2);

  --danger: var(--red-strong);
  --danger-dim: var(--red-dim);
  --text-on-danger: var(--danger-dim);

  --text-on-strong: #fff;
  --text-on-dim: #000;
}

/* UI colors */
:root {
  --color-selected: var(--yellow-dim, Mark);
}

:root {
  --paper-bg: var(--bg-1);
  --paper-bg-hover: var(--bg-2);
  --paper-fg: var(--fg-1);
  --paper-padding: 0.25em;
  --paper-border-radius: 5px;
  --paper-border: 1px solid var(--fg-2);
  --paper-shadow: 0 2px 7px 0 hsla(0, 0%, 0%, 0.2);
}

.paper {
  background-color: var(--paper-bg);
  color: var(--paper-fg);
  border-radius: var(--paper-border-radius);
  box-shadow: var(--paper-shadow);
  border: var(--paper-border);
  padding: var(--paper-padding);
}
