.editable-text {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline 2px solid var(--primary);
}
