.interactable:is(:hover, :active) .i--body {
  outline: 3px solid white;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 4px hsla(0, 0%, 0%, 0.9));
}

.i--selected .i--body {
  outline: 3px solid var(--color-selected) !important;
  border-radius: 5px;
}

/* .interactable--forbidden:is(:hover, :active) {
  outline: 3px solid var(--danger);
  border-radius: 5px;
  cursor: not-allowed;
} */

.interactable:not(:hover):not(:active) .i--only-hover {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.i--move {
  transform: translate(var(--item-x, 0px), var(--item-y, 0px)) scale(var(--item-scale, 1));
  transform-origin: center center;
  transform-box: fill-box;
}

@property --item-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --item-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --item-scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}
