@import url("./reset.css");
@import url("./typography.css");
@import url("./utils.css");
@import url("./colors.css");
@import url("./control.css");
@import url("./button.css");
@import url("./interactable.css");
@import url("./ui-menu.css");

:root {
  --table-bg: #165f49;
  --table-fg: #ffffff;
  --header-height: 1.4rem;
}

html {
  background-color: var(--table-bg);
  color: var(--table-fg);
  overflow: hidden;

  -webkit-user-select: none;
  user-select: none;

  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

html, body, #app-body {
  height: 100%;
}

#tabletop-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  /* box-shadow: inset 0 0 0 2px cyan; */
}

/* #tabletop {
  box-shadow: inset 0 0 0 2px magenta;
} */

/* Debug */
/* .card > rect {
  stroke: magenta;
  stroke-width: 12px;
} */

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--table-bg);
  color: var(--table-fg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0 0.5rem;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.2);

  overflow-x: auto;
}

.modal {
  z-index: 100;
  position: fixed;
  width: 240px;
  height: 180px;

  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
}

code {
  font-family: Inter;
}

ul {
  list-style: disc;
}


.appear-enter-active {
  animation: appear 0.3s ease-out;
}
.appear-leave-active {
  animation: disappear 0.1s ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.debug-tooltip {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  border: 1px solid rgb(0, 0, 0);
  font-family: monospace;
  background: rgb(128, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.25em 0.5em;
}
