:root {
  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.4;
}

h1 {
  margin-top: 0;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 1.9rem;
}

small {
  font-size: 0.6rem;
}
