
.ui-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.5rem 0px;
  gap: 0.5rem;
}

/* .ui-menu[data-state="closed"] { animation: fadeIn 0.2s ease; }
@keyframes fadeIn { to { opacity: 0; } } */



/* .ui-menu__title {
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.25rem 1rem;
} */

.ui-menu__item {
  padding: 0.125rem 1rem;
  position: relative;
  z-index: 0;
}

.ui-menu__item::before {
  display: block;
  content: "";
  position: absolute;
  inset: -0.25rem 0.25rem;
  border-radius: 1px;
  z-index: -1;
  background-color: var(--paper-bg-hover);
  pointer-events: none;
}

.ui-menu__item[data-highlighted] {
  outline: none !important;
}

.ui-menu__item[data-highlighted]::before {
  box-shadow: 0 0 0 2px var(--fg-3);
}

.ui-menu__item:not([data-highlighted])::before {
  opacity: 0;
}

.ui-menu [role="separator"] {
  border-top: 1px solid var(--paper-bg-hover);
  margin: 0 0;
}



.ui-menu-item__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-menu-item__label .start, .ui-menu-item__label .end {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ui-menu-item__label .start {
  width: 1rem;
  align-self: flex-start;
  margin-inline-start: -0.5rem;
  margin-inline-end: 0.5rem;
}

.ui-menu-item__label .end {
  align-self: flex-end;
  margin-inline-end: -0.75rem;
}

.ui-menu-item__label .center {
  flex-grow: 1;
  margin-bottom: -2px; /* @typography: Adjust specifically for the given font */
}

[data-radix-popper-content-wrapper] {
  z-index: 1;
}
