<template>
  <button class="btn-reset ui-button ui-button--thick">
    <span class="ui-button__label">
      <slot />
    </span>
  </button>
</template>

<style>
.ui-button--thick {
	padding: 1rem;
	border-radius: 5px;
	position: relative;
	z-index: 1;
  transition: all 50ms ease;

  /* skeuomorphic paper inset cut */
  --fg: black;
  --bg: white;

  background: var(--bg);
  color: var(--fg);
  opacity: 0.8;

  --sh-inside: inset 0 0 0 0 transparent;
  --sh-outside: 0 4px 4px 0 hsla(0, 0%, 0%, 0.3);
  --sh-diffuse: 0 0 7px -2px hsla(0, 0%, 0%, 0.5);
  box-shadow: var(--sh-inside), var(--sh-outside), var(--sh-diffuse);
}

.ui-button--thick:is(:hover,:focus-visible) {
  opacity: 1;
  --sh-outside: 0 4px 4px 0 hsla(0, 0%, 0%, 0.1);
  --sh-diffuse: 0 0 24px 0px hsla(0, 0%, 100%, 0.5);
}

.ui-button--thick:active {
  opacity: 1;
  --sh-inside: inset 0 -1px 6px 0px hsla(0, 0%, 0%, 0.9);
  --sh-outside: inset 0 0 0 0 transparent;
  --sh-diffuse: inset 0 0 0 0 transparent;
}

.ui-button--thick:is(:hover,:focus-visible) .ui-button__label {
	text-decoration: underline;
}

/*
.ui-button--thick:is(:hover,:active)::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary);
	opacity: 0.2;
}

.ui-button--thick i {
	width: 1.5em;
}

.ui-button--thick:hover i {
	color: var(--alert-text-info);
} */
</style>
