<script setup>
import {
  DropdownMenuContent,
  DropdownMenuRoot,
  DropdownMenuTrigger,
} from "radix-vue";
import UiDropdownItem from "./ui-dropdown-item.vue";

defineProps({
  items: {
    type: Array,
    required: true,
  },
});
</script>

<template>
  <DropdownMenuRoot>
    <DropdownMenuTrigger as-child>
      <slot />
    </DropdownMenuTrigger>

    <DropdownMenuContent class="paper ui-menu" :side-offset="5">
      <template v-for="item in items" :key="item.label">
        <ui-dropdown-item v-if="item" :item="item" />
      </template>
    </DropdownMenuContent>
  </DropdownMenuRoot>
</template>
