<script setup>
import {
  DropdownMenuCheckboxItem,
  DropdownMenuItem,
  DropdownMenuSeparator,
  DropdownMenuSub,
  DropdownMenuSubContent,
  DropdownMenuSubTrigger,
} from "radix-vue";
import UiMenuItemLabel from "./ui-menu-item-label.vue";

defineProps({
  item: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <DropdownMenuSeparator v-if="item.separator" class="ui-menu__separator" />
  <DropdownMenuSub v-else-if="item.menu">
    <DropdownMenuSubTrigger class="ui-menu__item" :text-value="item.label">
      <ui-menu-item-label :item="item" />
    </DropdownMenuSubTrigger>
    <DropdownMenuSubContent class="paper ui-menu" :side-offset="-8" :align-offset="-10">
      <template v-for="subitem in item.menu" :key="subitem.label">
        <ui-dropdown-item v-if="subitem" :item="subitem" />
      </template>
    </DropdownMenuSubContent>
  </DropdownMenuSub>

  <DropdownMenuCheckboxItem
    v-else-if="item.toggle"
    class="ui-menu__item"
    :text-value="item.label"
    :checked="item.checked"
    @update:checked="(v) => item.toggle(v)"
  >
    <ui-menu-item-label :item="item" />
  </DropdownMenuCheckboxItem>

  <DropdownMenuItem
    v-else-if="item.action"
    class="ui-menu__item"
    :text-value="item.label"
    @select="item.action"
  >
    <ui-menu-item-label :item="item" />
  </DropdownMenuItem>

  <DropdownMenuItem v-else disabled class="ui-menu__item" :text-value="item.label">
    <ui-menu-item-label :item="item" />
  </DropdownMenuItem>
</template>
