<script setup>
import { provide } from "vue";

const props = defineProps({
  icon: { type: Object, required: true },
});

provide("weight", "bold");
</script>

<template>
  <component :is="props.icon" v-if="props.icon" />
</template>
