<script setup>
import {
  ContextMenuCheckboxItem,
  ContextMenuItem,
  ContextMenuSeparator,
  ContextMenuSub,
  ContextMenuSubContent,
  ContextMenuSubTrigger,
} from "radix-vue";
import UiMenuItemLabel from "./ui-menu-item-label.vue";

defineProps({
  item: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <ContextMenuSeparator v-if="item.separator" class="ui-menu__separator" />
  <ContextMenuSub v-else-if="item.menu">
    <ContextMenuSubTrigger class="ui-menu__item" :text-value="item.label">
      <ui-menu-item-label :item="item" />
    </ContextMenuSubTrigger>
    <ContextMenuSubContent class="paper ui-menu" :side-offset="-8" :align-offset="-10">
      <template v-for="subitem in item.menu" :key="subitem.label">
        <ui-menu-item v-if="subitem" :item="subitem" />
      </template>
    </ContextMenuSubContent>
  </ContextMenuSub>

  <ContextMenuCheckboxItem
    v-else-if="item.toggle"
    class="ui-menu__item"
    :text-value="item.label"
    :checked="item.checked"
    @update:checked="(v) => item.toggle(v)"
  >
    <ui-menu-item-label :item="item" />
  </ContextMenuCheckboxItem>

  <ContextMenuItem
    v-else-if="item.action"
    class="ui-menu__item"
    :text-value="item.label"
    @select="item.action"
  >
    <ui-menu-item-label :item="item" />
  </ContextMenuItem>

  <ContextMenuItem v-else disabled class="ui-menu__title" :text-value="item.label">
    <ui-menu-item-label :item="item" />
  </ContextMenuItem>
</template>
