<script setup>
import {
  ContextMenuContent,
  ContextMenuRoot,
  ContextMenuTrigger,
} from "radix-vue";
import UiMenuItem from "./ui-menu-item.vue";

defineProps({
  items: {
    type: Array,
    required: true,
  },
});
</script>

<template>
  <ContextMenuRoot>
    <ContextMenuTrigger>
      <slot />
    </ContextMenuTrigger>

    <ContextMenuContent class="paper ui-menu">
      <template v-for="item in items" :key="item.label">
        <ui-menu-item v-if="item" :item="item" />
      </template>
    </ContextMenuContent>
  </ContextMenuRoot>
</template>
