<script setup>
import { computed, ref, watch } from "vue";
import { usePositionTL } from "../hooks";
import interact from "interactjs";

const pos = ref({ x: 0, y: 0 });
const style = computed(() => usePositionTL(pos.value));

const el = ref(null);

watch(
  () => el.value,
  (el) => {
    if (!el) return;
    interact(el, {
      drag: {
        onmove: (event) => {
          const scale = window.app.panner.zoomLevel;
          const from = pos.value;
          const delta = { x: event.dx / scale, y: event.dy / scale };
          const to = { x: from.x + delta.x, y: from.y + delta.y };
          pos.value = to;
        },
      },
    });
  },
);


function useCaptureClickAfterDrag() {
// Check if the click follows a drag
  let downClientXY = { x: 0, y: 0 };
  let upClientXY = { x: 0, y: 0 };

  const onDown = (event) => {
    downClientXY = { x: event.clientX, y: event.clientY };
  };
  const onUp = (event) => {
    upClientXY = { x: event.clientX, y: event.clientY };
  };
  const onClickCapture = (event) => {
    const down = downClientXY;
    const up = upClientXY;
    const dx = Math.abs(down.x - up.x);
    const dy = Math.abs(down.y - up.y);
    if (dx > 5 || dy > 5) {
      event.stopPropagation();
      event.stopImmediatePropagation();
    }
  };
  return { onDown, onUp, onClickCapture };
}
const { onDown, onUp, onClickCapture } = useCaptureClickAfterDrag();
</script>

<template>
  <foreignObject
    ref="el"
    class="ui-moveable"
    :style="style"
    @pointerdown="onDown"
    @pointerup="onUp"
    @click.capture="onClickCapture"
  >
    <slot />
  </foreignObject>
</template>

<style>
foreignObject.ui-moveable {
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}

foreignObject.ui-moveable > * {
  pointer-events: auto;
}
</style>
