<script setup>
import { computed } from "vue";
import UiIcon from "./ui-icon.vue";
import { PhCheckSquare, PhSquare, PhCaretRight } from "@phosphor-icons/vue";

const props = defineProps({
  item: {
    type: Object,
    required: true,
  },
});

const style = computed(() => {
  const item = props.item;
  const style = {};

  if (item.color) {
    style["color"] = item.color;
  }

  return style;
});

const icon = computed(() => {
  const isCheckbox = props.item.toggle;
  const baseIcon = props.item.icon;
  if (isCheckbox) {
    const checked = props.item.checked;
    if (baseIcon) {
      return checked ? baseIcon : null;
    } else {
      return checked ? PhCheckSquare : PhSquare;
    }
  } else if (baseIcon) {
    return baseIcon;
  }
  return null;
});
</script>

<template>
  <div class="ui-menu-item__label" :style="style">
    <div class="start">
      <ui-icon v-if="icon" :icon="icon" />
    </div>
    <div class="center">
      {{ item.label }}
    </div>
    <PhCaretRight v-if="item.menu" class="end" />
  </div>
</template>
