<script setup>
import { PopoverAnchor, PopoverContent, PopoverRoot } from "radix-vue";

const emit = defineEmits(["toggle"]);

const props = defineProps({
  open: { type: Boolean, required: true },
});
</script>

<template>
  <PopoverRoot :open="props.open" @update:open="emit('toggle', $event)">
    <PopoverAnchor class="ui-popover__anchor" />
    <PopoverContent class="ui-popover">
      <slot />
    </PopoverContent>
  </PopoverRoot>
</template>

<style>
.ui-popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui-popover__anchor {
  position: fixed;
  top: 20vh;
  left: 50vw;
}
</style>
